/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}



/* AJOUTS STEPH */
.menu {
    display:flex;
    padding:0;
    justify-content: right;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display:block;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
 }  
 
.m:hover {
    border:2px solid white;
    color:#0065FC;
    border-top-color: #0065FC;
}

.rechercher {
    background-color: #0065FC;
    border-radius: 0px 20px 20px 0px;
    color: white;
    padding: 10px;
   
}

input {
    height:34px;
    width:500px;
}

.formulaire {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.r1 {
    background-color:#F2F2F2;
    height: 40px;
    width:60px;
    border-radius: 20px 0px 0px 20px;
}

.fa-location-dot {
    position: absolute;
    left: 120px;
    top: 250px;
    z-index:2;
}

.fa-circle-info {
    margin:10px;
}

.filtres {
    display:flex;
    flex-direction:row;
    padding:20px;

    align-items:center;
    column-gap: 20px;;
}

.filtres button {
    border-radius: 20px 20px 20px 20px;
    border-color:2px solid #DEEBFF;
    width: 200px;
    height: 40px;
    background-color:white;
}

button:hover {
    background-color:#DEEBFF;
    color:#0065FC;
}

.fa-money-bill-1, .fa-people-roof, .fa-heart, .fa-fire-flame-curved {
    margin-right:10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 700px;
}

.hebergements .card_heber .card img {
    width: 240px;
    height: 115px;
    border-radius: 20px;
}

.hebergements .card_heber .card {
    margin-bottom: 20px;
    width:240px ;
    height: 240px;
}

.card_heber {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom: 10px;
}




.hebergements h2 h3 {
    margin-bottom:20px;
}

.activite {
    width: 300px;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
}

.vignette {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
    width:fit-content;
}

.activites_marseille {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:20px;
}

.footer {
    display:flex;
    flex-direction: row;
    column-gap:20%;
    background-color: #F2F2F2;
    max-width: 1440px;
    padding-inline: 20px;
    margin-top: 20px;
    max-height: 200px;
}

.activites_marseille h4 {
    text-align: center;
    margin: 10px;
}

.f1 .f2 .f3 {
    display: flex;
    justify-content: right;
}

a {
    text-decoration:none;
    color:black;
}


/* AJOUTS STEPH */



/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}


.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}