/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Menu et logo dans le header ***********/

.menu {
    display:flex;
    flex-direction:row;
    align-items:column;
    justify-content: flex-end;
    column-gap: 5%;
}

nav {
    background-image:url("../images/logo/Booki.png");
    background-position:left;
    background-repeat: no-repeat;
    height: 80px;
}



.m {
    padding-top: 10px;
    width:fit-content;
}

.menu a {
    text-decoration:none;
    color: black;
}

.m:hover {
    border-top:3px solid #0065FC;
    color:#0065FC;
}


.formulaire {
    display:flex;
    flex-direction:row;
    column-gap:0px;
    max-width:25%;
    max-height:40px;
}

.icon_localisation {
    background-color:#F2F2F2;
    border-radius:20px 0px 0px 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    min-width:50px;
    height:40px;
}

.icon_localisation i {
    position:relative;
    top:25%;
 
}

.button_recherche button {
    background-color:#0065FC;
    border-radius: 0px 20px 20px 0px;
    width:fit-content;
    height: 40px;
    border-color: #0065FC;
    color:white;
}

button {
    cursor:pointer;
}

.filtres a {
    color:black;
    text-decoration:none;
}

.text_recherche input {
    width:fit-content;
    height: 35px;
}

::placeholder {
    font-weight:bold;
    text-align: center;
}

.infos {
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap: 5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

.filtres {
    display:flex;
    flex-direction:row;
    column-gap:10px;
    align-items:center;
    margin-top:20px;
}

.filtres button {
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap:5px;
    border-radius: 20px 20px 20px 20px;
    border-color: #DEEBFF;
    width:fit-content;
    padding-left:10px;
    padding-right:10px;
    height: 30px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border:none;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.filtres a {
    text-decoration:none;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height:100%;
}

.h_card {
    background-color:white;
    max-width:240px;
    max-height:100%;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    display:flex;
    flex-direction:column;
    column-gap: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:10px;
}

.hebergements_cards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h_card img {
    width: 240px; 
    height: 120px; 
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements_cards .card-title {
    margin-top: 11px;
    margin-left:10px;
}

.hebergements_cards .card-subtitle {
    margin-left: 10px;
}

.hebergements_cards .card-rating {
    margin-bottom: 0px;
    margin-left:10px;
}

.hebergements_title .section-title {
    margin-bottom: 10px;
}

.hebergements_title .affiche {
    padding-top:10px;
}


.activites_marseille {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    margin:10px;
}

.a_card {
     
        background-color:white;
        max-width:100%;
        max-height:440px;
        border-radius: 20px 20px 20px 20px;
        padding: 2px 2px 2px 2px;
        display:flex;
        flex-direction:row;
        column-gap: 10px;
        justify-content:space-evenly;
        flex-wrap:wrap;
        margin:10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display:block;       
}    

.a_card a, .h_card a {
    text-decoration: none;
    color:black;
}

.am .hebergements_title {
    padding: 30px 20px 0px 20px;
}

.am h2 {
    padding-left: 20px;
}

.a_card img {
    width: 300px; 
    height: 380px; 
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.a_card .card-title {
    padding-left:10px;
}

.activites_marseille h2 {
    margin:5px 5px 5px 5px;
}

/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}


/* FOOTER */

.footer {
    display:flex;
    flex-direction: row;
    column-gap:20%;
    background-color: #F2F2F2;
    max-width: 1440px;
    padding-inline: 20px;
    
}

.f1 .f2 .f3 {
    display: flex;
    justify-content: right;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

     .h_card img {
        width:100%;
    }

    .filtres {
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
       
    }

    .filtres {
        display:flex;
        flex-direction:row;
        column-gap:10px;
        align-items:center;
        margin-top:20px;
    }
    
    .filtres button {
        display:flex;
        flex-direction:row;
        align-items:center;
        column-gap:5px;
        border-radius: 20px 20px 20px 20px;
        border-color: #DEEBFF;
        width:fit-content;
        padding-left:10px;
        padding-right:10px;
        height: 30px;
    }

    .text_filtres {
        grid-column-start:1;
        grid-column-end: 5;
    }

    h2, h3 {
        font-size: 80%;
    }

    
   .hebergements_cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   }

   .h_card {
    background-color:white;
    max-width:100%;
    max-height:auto;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    display:flex;
    flex-direction:column;
    column-gap: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:10px;
}







.a_card img {
    width: 100%; 
    height: 200px; 
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.a_card {
     
    background-color:white;
    max-width:20%;
    max-height:270px;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    display:flex;
    flex-direction:row;
    column-gap: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display:block;       
}  


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        max-width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    html, body {
        margin: 0;
        padding: 0;
    }

  .recherches .formulaire {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

   body {
        background-image:url("../images/logo/Booki.png");
        background-position: 50% 30px;
        background-repeat: no-repeat; 
        background-size:25%;
    
    }

    .main-container {
        max-width: 100%;
        padding: 1px;
        box-sizing: border-box;
    }

    .recherches {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding:10px;
    }

   

    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    nav a {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        }

    .menu {
        margin-top:60px;
        background-image:none;
        max-width: 100%;
        margin-bottom:-20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: solid 1px #f2f2f2;
    }


    .menu_header {
        display:flex;
        flex-direction:row;
        justify-content: space-around; 
        width:100%;  
    }

    .m {
        padding-bottom: 15px;
        width:100%;
        flex-grow: 1;
        text-align:center;
        padding-top:50px;
    }
    
    .m:hover {
        border-bottom:3px solid #0065FC;
        color:#0065FC;
        border-top:none;
    }
    

    .formulaire {
       display:grid;
       grid-template-columns: 1fr 1fr 1fr;
    }

    .info_text p {
        font-size:16px;
    }

    .filtres {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap:5px;
        width:335px;
        height:160px;
        margin-left: auto;
        margin-right:auto;
        padding:5px;
        margin-bottom:-20px;
        margin-top:-10px;
    }
    /* revenir ici pour aligner les boutons (marges à droite et gauche) */

    

    .text_filtres {
        grid-column:1/2;
        grid-row:1;
        margin-bottom:-20px;
    }

    .economique {
        grid-column:1;
        grid-row:2
    }

    .formulaire {
        margin-top:30px;
    }

    .infos {
        margin-top:30px;
        margin-bottom:-20px;
    }

    .infos p {
        font-size:80%;
    }

    .familial {
        grid-column:2;
        grid-row:2;
    }

    .romantique {
        grid-column:1;
        grid-row:3;
    }

    .pepites {
    grid-column:2;
    grid-row:3;
    }

    .icon_localisation {
        border-radius:15px 0px 0px 15px;
        position:relative;
        bottom:1px;
    }

    .button_recherche button {
        background-color:#0065FC;
        border-radius: 10px 10px 10px 10px;
        width:40px;
        height: 40px;
        border-color: #0065FC;
        color:white;
        background-image:url("../images/search-12-16.png");
        font-size:0;
        background-size:auto;
        background-position:center;
        background-repeat:no-repeat;
        cursor:pointer;
        padding:0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border:none;
        position:relative;
        right:10px;
        bottom:2px;
    }

    .text_recherche input {
        border:none;
        outline:#F2F2F2 2px solid;
    }

    .hebergements-and-populaires {
        display:flex;
        flex-direction:column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background:none;
    }

    .populaires-cards {
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        max-width:100%;
    }

    .populaires-cards .card {
        max-width: 100%;
      
    }
    
    .populaires-cards img {
        width: 110px;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 63%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .hebergements {
        max-width:100%;
        background-color:white;
        border-radius: 0px;
    }

    .hebergements_title h2 {
        font-size: 120%;
    }

   .h_card {
    background-color:white;
    width: 100%;
    height:208px;
    border-radius: 20px 20px 20px 20px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom:20px;
    margin-left:-5px;
    }

    .hebergements_cards {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap:2px;
    }
   
    .h_card img {
    max-width: 100%; 
    object-fit: cover;
    height: 124px; 
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

    .h_card h3+p {
        line-height: 10px;
    }

    .recherche_titre h2 {
        font-size: 22px;
    }

    .h_card .card-content {
        height:40%;
    }

    
    
    .a_card img {
        width: 315px; 
        max-height:max-content;
        display: block; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .a_card {   
        background-color:white;
        max-width:100%;
        max-height:max-content;
        border-radius: 20px 20px 20px 20px;
        padding: 2px 2px 2px 2px;
        display:flex;
        flex-direction:row;
        column-gap: 10px;
        justify-content:space-evenly;
        flex-wrap:wrap;
        margin:10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display:block;    
        padding:0px;  
      
    }  

    .activites_marseille {
        max-width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        flex-wrap:wrap;
    }
    

    /* FOOTER */

footer {
    background-color: #F2F2F2;
    max-width:100%;
    max-height:100%;
}

.footer {
   max-width:100%;
   display:flex;
   flex-direction:column;
   justify-content:space-between;
   flex-wrap:wrap;
   padding:30px;
}


    
}


/* Large devices (Large desktop) */
@media (min-width: 1024px) and (max-width: 1442px) {
    .h_card img {
        width:100%;
        max-height: 124px;
    }

   .hebergements_cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   }

   .h_card {
    background-color:white;
    max-width:250px;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    display:flex;
    flex-direction:column;
    column-gap: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:10px;
}

.a_card img {
    width: 100%; 
    height: 380px; 
    display: block; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.a_card {
     
    background-color:white;
    max-width:20%;
    max-height:440px;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
    display:flex;
    flex-direction:row;
    column-gap: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display:block;       
}  

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
}